.slide-text {
    background-image: linear-gradient(180deg, #121212 0%, #12121200 100%);
    background-size: contain;
}

.button-primary {
    color: #FFF;
    background-color: #F85559;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 800;
    border: none;
    padding: 20px 30px;
    margin-top: 32px;

}


.fruit {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 60px 0px rgba(0, 0, 0, 0.05);
}

.deal-title {
    color: #121212;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
}

.deal-description {
    color: rgba(18, 18, 18, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.deal-fruit {
    border-radius: 8px;
    border: 1px solid rgba(18, 18, 18, 0.10);
    background: #FFF;
}

@media screen and (max-width:576px) {
    .navbar-all {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }



    .drop-menu {
        margin-left: 100px;
    }
}